ul {
  list-style: none;
}
dl,
dt,
dd,
ul,
h4,
h5 {
  margin: 0;
  padding: 0;
}
#menu-list dl dt,
#menu-list dl dd {
  cursor: pointer;
}
#menu-list dl dd {
  background: #353535;
}
#menu-list ul a {
  color: #fff;
}
#menu-list ul a:hover {
  text-decoration: none;
}
#menu-list ul li {
  transition: all 0.1s linear;
}
#menu-list ul li:hover:not(.menu-active) {
  background: #5a5a5a;
}
.menu-active,
.menu-item-active {
  background: #09f;
}
